/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png");

  --rec-visibility: hidden;

  --color-accent: rgba(53, 52, 48, 1);
  --color-background: rgba(0, 0, 40, 1);
  --color-title: rgba(255, 194, 230, 1);
  --color-menu-hover: rgba(50, 49, 45, 0.4);
  --color-zone: rgba(255, 141, 203, 1);
  --color-zone-text: rgba(53, 52, 48, 1);
  --color-card-text: rgba(53, 52, 48, 1);
  --color-link-shadow: rgba(255, 141, 203, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");

    --rec-visibility: hidden;
  
    --color-accent: rgba(53, 52, 48, 1);
    --color-background: rgba(0, 0, 40, 1);
    --color-title: rgba(255, 194, 230, 1);
    --color-menu-hover: rgba(50, 49, 45, 0.4);
    --color-zone: rgba(255, 141, 203, 1);
    --color-zone-text: rgba(53, 52, 48, 1);
    --color-card-text: rgba(53, 52, 48, 1);
    --color-link-shadow: rgba(255, 141, 203, 1);
  }
}
